<h3>Angular(V14) standalone components with Highcharts</h3>
<div class="linechart-container">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="linechart"
    style="width: 50%; height: 400px; display: block;"
  >
  </highcharts-chart>

  <div class="linechart-dashboard">
    <div class="comparison">
      <div class="country-selections">country selections</div>
      <div class="add-country">add country</div>
    </div>
    <div class="death-rate">
      <h4>DEATH RATE:</h4>
      <div class="cvd">CVD*</div>
      <div class="ischemic">ISCHEMIC CVD*</div>
      <div class="cancer">CANCER*</div>
    </div>
    <div class="changes">
      <h4>ISCHEMIC CVD<br />CHANGE FROM</h4>
      <div class="change-box">changes box</div>
    </div>
  </div>
</div>
